.jumbotron {
    background-image: url('gambar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
}

p {
    text-align: center;
}



.aku {
    text-align: center;
}

.tes {
    background-color: #ceabab;
}
