.jumbotron {
    background-image: url('gambar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
}

p {
    text-align: center;
}



.aku {
    padding: 2rem;
    text-align: center;
}

.tentang {
    background-color: #474545;
    padding-block: 3rem;
    text-align: center;
}



